@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    word-spacing: -5px;
    letter-spacing: -1px;
}

/* Navbar Styles */
header {
    padding: 20px 150px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    display: flex;
    align-items: center;
}

.icon h2 {
    margin-left: 20px;
}

.icon h2 span {
    color: #FF42AF;
}

nav ul {
    display: flex;

}

nav ul li {
    list-style: none;
    margin-right: 40px;
}
nav ul li:hover {
   background: lightgray;
   border-radius: 5px;
   padding: 5px;
}
nav ul li a {
    text-decoration: none;
    color: #131313;
}
.fa-youtube{
    color: red;
    padding: 0 10px;
}
/* Banner Styles */

.banner-container {
    /* padding: 20px 150px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.banner-container img {
    width: 100%;
}

.banner-content {
    padding-top: 30%;
}

.banner-subtitle,
.gamer-title {
    font-size: 36px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-title {
    font-size: 56px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content p {
    font-size: 20px;
}

.banner-content p>i {
    padding-right: 10px;
}

.primary-button,
.secondary-button {
    margin-top: 15px;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    background: #FF42AF;
    color: #ffffff;
}

.secondary-button {
    background: #4EC5F7;
}

/* Gamer Section Styles */
.gamer-container {
    padding: 50px 150px;
    display: flex;
    flex-direction: row-reverse;
}

.gamer-container img {
    width: 55%;
}

.gamer-content {
    padding-top: 40px;
    text-align: right;
}

/* Online Games Section */
.online-games-section {
    padding: 50px 150px;
}

.online-games-content {
    text-align: center;
    padding-bottom: 30px;
}

.online-games-title {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
    color: #131313;
}

.online-games-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card-item img {
    width: 100%;
}

/* Image Section Styles */
.image-section {
    display: flex;
    position: relative;
    padding: 50px 150px;
}

.image-section .d-image-1 {
    padding-top: 20px;
    padding-left: 10%;
    width: 60%;
}

.image-info {
    padding-top: 180px;
    width: 500px;
}

.image-title {
    font-size: 32px;
}

.title-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.image-description {
    font-size: 18px;
    line-height: 25px;
}

.d-image {
    width: 220px;
    height: 250px;
    position: absolute;
    bottom: -10px;
    left: 600px;
}

/* Game Section Styles */
.games-container {
    padding: 50px 150px;
}

.games {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);

}

.game-item {
    padding: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.game-item:hover {
    border: 1px solid #FF42AF;
    border-radius: 50px;
}
/* Footer Section Styles */
.footer-section{
    padding-top: 30px;
    background: #131313;
    color: #ffffff;
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon h2{
    margin-left: 20px;
}
.footer-menubar{
    padding: 30px;
    text-align: center;
}
.footer-menubar a{
    text-decoration: none;
    color: #ffffff;
    padding-right: 20px;
}
.icon-item i{
    font-size: 30px;
    color: #ffffff;
}
.icon-item a{
    padding-left: 30px;
}
.footer-menubar-1{
    padding: 30px;
    text-align: center;
}
.footer-menubar-1 a{
    text-decoration: none;
    color: #ffffff;
    padding-right: 20px;
}
.copyright{
    text-align: center;
    padding-bottom: 20px;
}
/* Responsive Styles */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    /* Navbar */
    nav {
        flex-direction: column;
        width: auto;
    }

    nav ul li {
        margin-top: 20px;
        margin-right: 20px;
    }

    /* Banner */
    .banner-container {
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
    }

    .banner-content {
        background-image: url('../Images/Group\ 14.png');
        padding: 10% 0;
        text-align: center;
        justify-content: center;
    }

    .banner-content p {
        font-size: 18px;
        letter-spacing: -1.8px;
        padding-left: 60px;
        text-align: justify;
    }

    /* Gamer Section Styles */
    .gamer-container {
        padding: 20px;
        display: flex;
        flex-direction: column-reverse;
    }

    .gamer-container img {
        margin-top: -50px;
        width: 100%;
    }

    .gamer-content {
        margin-top: -40px;
        text-align: center;
    }

    /* Online Games Section */
    .online-games-section {
        padding: 20px;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Image Section Style */
    .image-section {
        flex-direction: column;
        padding: 10px
    }

    .image-section .d-image-1 {
        width: 100%;
        padding-left: 50px;
        padding-bottom: 80px;
    }

    .image-section .d-image {
        width: 150px;
        height: 200px;
        position: absolute;
        top: 600px;
        left: 25px;
        z-index: 1;
    }

    .image-info {
        text-align: center;
        width: 100%;
    }

    .image-title {
        text-align: center;
    }

    .image-description {
        margin-top: 20px;
        text-align: center;
    }

    /* Game Section Styles */
    .games-container {
        padding: 10px;
        place-items: center;
    }
    .games {
        width: 400px;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
    }
    .game-item{
        width: 125px;
    }
    .game-item img{
        width: 30px;
    }
    /* Footer */
    .footer-menubar{
        padding: 20px;
    }
    .menubar-item{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
    }
    .icon-item{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 60px;
        
    }
    .icon-item i{
        font-size: 30px;
        color: #ffffff;
    }
    .icon-item a{
        padding-left: 20px;
    }
    .footer-menubar-1{
        padding: 20px;
    }
    .menubar-item-1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}